<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.LearnMyBatis.mapper.UserMapper" >

    <resultMap id="userResultMap" type="User">
        <result column="cur_position" property="curPosition"/>
    </resultMap>



    <!--    <select id="selectUser" resultType="org.LearnMyBatis.pojo.User">-->
<!--    <select id="selectUser" resultType="User">-->
    <select id="selectUser" resultMap="userResultMap">
        select * from user
    </select>

    <select id="selectuserID" resultMap="userResultMap">
        select * from user where id = #{id};
    </select>

    <select id="selectByAgeUser" resultMap="userResultMap">
        select * from user where age &lt; #{age};
    </select>

    <select id="selectByConditionsParam" resultMap="userResultMap">

        select * from user where age &lt; #{age} and name = #{name};

    </select>

<!--    condition select by entity name-->
    <select id="selectByConditionsPOJO" resultMap="userResultMap">
        select * from user where age &lt; #{age} and name = #{name};
    </select>

    <select id="selectByConditionsPOJOIf" resultMap="userResultMap">
        select * from user
        <where>
            <if test="age !=null and age > 0 ">
                and age &lt; #{age}
            </if>

            <if test="name !=null and name !='' ">
                and name = #{name}
            </if>

            <if test="curPosition !=null and curPosition !='' ">
                and curPosition = #{curPosition}
            </if>

        </where>
    </select>

<!--    single condition, filter based on name or age or position -->
    <select id="selectSingleChoose" resultMap="userResultMap">
        select * from user
        where
        <choose>
            <when test="age !=null and age > 0 ">
                age &lt; #{age}
            </when>
            <when test="name !=null and name !=''">
                name = #{name}
            </when>
            <when test="curPosition !=null and curPosition !='' ">
                curPosition = #{curPosition}
            </when>
            <otherwise>
                1=1
            </otherwise>
        </choose>
    </select>
    <select id="selectSingleChooseWWhere" resultMap="userResultMap">
        select * from user
        <where>
            <choose>
                <when test="age !=null and age > 0 ">
                    age &lt; #{age}
                </when>
                <when test="name !=null and name !=''">
                    name = #{name}
                </when>
                <when test="curPosition !=null and curPosition !='' ">
                    curPosition = #{curPosition}
                </when>
            </choose>
        </where>
    </select>

    <insert id="addUser">
        insert into user (Name, Age, cur_position)
        values
        (#{name},#{age},#{curPosition});
    </insert>
    <insert id="addUserReturnId" useGeneratedKeys="true" keyProperty="id">
        insert into user (Name, Age, cur_position)
        values
        (#{name},#{age},#{curPosition});
    </insert>

    <update id="updateUser">

        update User
        set name = #{name},
            age = #{age},
            cur_position = #{curPosition}
        where id = #{id};

    </update>
    <update id="updateUserDynamic">

        update User
        <set>
            <if test="name !=null and name != ''">
                name = #{name},
            </if>
            <if test="age > 0">
                age = #{age},
            </if>
            <if test="curPosition != null and curPosition !=''">
                cur_position = #{curPosition}
            </if>
        </set>
        where id = #{id};
    </update>

    <delete id="delById">
        delete from user where id = #{userid};
    </delete>
    <delete id="delUsers">
        delete from user
        where id in
        <foreach collection="ids" item = "id" separator="," open="(" close=")">
            #{id}
        </foreach>
        ;

    </delete>
    <delete id="delUsersArray">
        delete from user
        where id in
        <foreach collection="array" item = "id" separator="," open="(" close=")">
            #{id}
        </foreach>
        ;
    </delete>


</mapper>